@model IEnumerable<FamilyDogs.Domain.Dog>

@{ 
    Layout = "~/Views/Shared/_myLayoutPageDogsIndex.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p style="font-style:italic; font-weight:400; font-size:12px;"> * Shedding, Agression, Exercise are scaled from 1-4 where 4 is the max and 1 is the min</p>
<div class="container">
    <table class="table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th style="padding:10px">
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th style="padding:10px">
                @Html.DisplayNameFor(model => model.LivingArea)
            </th>
            <th style="padding:10px">
                @Html.DisplayNameFor(model => model.LifeExpectancy)
            </th>
            <th style="padding:10px">
                @Html.DisplayNameFor(model => model.ShedScore)
            </th>
            <th style="padding:10px">
                @Html.DisplayNameFor(model => model.AgressiveScore)
            </th>
            <th style="padding:10px">
                @Html.DisplayNameFor(model => model.ExerciseScore)
            </th>
            <th style="padding:10px">
                @Html.DisplayNameFor(model => model.TotalScore)
            </th>
            <th class="col-xs-1" style="text-align:center">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td style="padding:6px">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="padding:6px">
                    @Html.DisplayFor(modelItem => item.Breed)
                </td>
                <td style="padding:6px">
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td style="padding:20px">
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.LivingArea)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.LifeExpectancy)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.ShedScore)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.AgressiveScore)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.ExerciseScore)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.TotalScore)
                </td>
                <td>
                    <img src=@Url.Content(item.Image) height=90 width=120 style="position:center" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

